* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 98vw;
  height: 100vh;
}

.column {
  display: flex;
  flex: 0 1 auto;
}

.square {
  flex: 1 1 auto;
  height: auto;
  background-color: blue;
  margin: 1px;
  aspect-ratio: 1 / 1;
}

